# Виртуальное окружение (блокируем всю папку .venv и файлы внутри)
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg
CACHEDIR.TAG

# Настройки среды разработки PyCharm (даже если папка .idea скрыта, она не улетит)
.idea/

# Автоматический кэш Python (компилируемые файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные файлы истории и логи
*.log